<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <div class="page-header">
      <%= link_to root_path, class: "title_text" do%>
      <h1><%= link_to 'Read-IT!', root_path %></h1>
  <%end %>

  <div class="text-right">

    <% if @current_user %>
      <%= link_to 'Sign Out', sign_in_path, method: :delete %>
    <% end %>
  </div>
  </div>

  <div style="margin-top: 10px">

  </div>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>




<body>

  <% if notice %>
  <div class="alert alert-danger" role="alert">
    <p>
      <%= notice %>
    </p>
      </div>
  <% end %>

  <%= yield %>
</body>
</html>
