<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <div class="page-header">
      <%= link_to root_path, class: "title_text" do%>

        <%= link_to 'Read-IT!', root_path %></h1>
    <%end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>

  <header>


    <% if @current_user %>
    <%= link_to 'Sign Out', sign_in_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign In', sign_in_path %>
    <% end %>
</header>


<body>

  <% if notice %>
  <p>
    <%= notice %>
  </p>
<% end %>
    <%= yield %>
  </body>
</html>
